form {
    max-width: 700px;
    width: 90%;
    background-color: $color4;
    margin: 17vh auto;
    padding: 40px;
    border-radius: 40px;
    box-sizing: border-box;

    h1 {
        margin: 0;
        text-align: center;
        color: $color2;
    }
    label {
        display: block;
        color: $color2;
        margin: 20px 0;
    }
    input[type="text"], textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        outline: none;
        resize: none;
        border: none;
        border-bottom: 1px solid $color2;
        background-color: transparent;
    }
    textarea::-webkit-scrollbar {
        width: 4px;
    }
    textarea::-webkit-scrollbar-thumb {
        background-color: $color2;
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-top: 30px;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
        outline: none;
        border-radius: 40px;
        border: 1px solid $color2;
        background-color: transparent;
        transition: .3s ease;
        cursor: pointer;

        &:hover {
            background-color: $color3;
        }
    }
    .error {
        color: red;
    }
    .error-border {
        border-bottom: 1px solid red;
    }
    #success {
        color: rgb(99, 187, 99);
        text-align: center;
        padding-top: 20px;
    }
}
