.tarif-container {
    text-align: center;
    margin: 50px 0;
    .form-horizontal {
        font-size: 2rem;
        text-transform: uppercase;
        input {
            background-color: transparent;
            color: $color4;
            width: 30%;
            padding: 10px;
            margin-bottom: 20px;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
            outline: none;
            border: none;
            border-bottom: 3px solid $color4;
        }
    }
    .btn {
        background-color: transparent;
        color: $color4;
        padding: 10px;
        margin: 30px 0;
        border: 1px solid $color4;
        border-radius: 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
            background-color: $color5;
            
        }
    }
    #googleMap {
        width: 80%;
        height: 400px;
        margin: 20px auto;
        border-radius: 40px;
        border: 10px solid $color2;
    }
    #output {
        color: red;
    }
    .alert-info {
        background: $color2;
        color: $color4;
        width: 70%;
        border-radius: 40px;
        font-size: 1.5rem;
        margin: 20px auto;
    }
}