.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    
    .services {
        padding: 50px;
        text-align: center;
        a {
            color: $color4;
            .chiffres {
                font-size: 3rem;
            }
            h3 {
                font-size: 1.5rem;
                text-transform: uppercase;
                padding-bottom: 10px;
            }
            p {
                padding-bottom: 10px;
            }
            .plus {
                color: $color5;
            }
        }
    }
}