@import "./layouts/settings";
@import "./layouts/header";
@import "./layouts/navbar";
@import "./layouts/sectionPub";
@import "./layouts/sectionServices";
@import "./layouts/sectionApropos";
@import "./layouts/footer";